<!DOCTYPE html>
<html ng-app="Mean">
<head>
	<title>Users</title>
</head>
<body ng-controller="UsersCtrl">
	<table>
	<tr>
		<td>Name</td>
		<td>Age</td>
		<td>Email</td>
	</tr>
		<tr ng-repeat="user in users">
			<td>{{user.name}}</td>
			<td>{{user.age}}</td>
			<td>{{user.email}}</td>
			<td><button ng-click="delUser(user.name)">Del</button></td>
			<td><button ng-click="editModal($index, user._id)">Edit</button></td>
		</tr>
	</table>

	<form ng-show="userEdit" ng-submit="editUser(userIdEdit)">
		Name: <input ng-model="userEdit.name">
		Age: <input ng-model="userEdit.age">
		Email: <input ng-model="userEdit.email">
		<button type="submit">Save</button>
	</form>

	<button ng-click="modalAdd=!modalAdd" ng-init="modalAdd=false" ng-hide="">Add user</button>

	<form  ng-show="modalAdd" ng-submit="addUser()">
		Name: <input ng-model="user.name" required><br>
		Age: <input ng-model="user.age" required><br>
		Email: <input ng-model="user.email" required><br>
		<button type="submit" ng-click="modalAdd=false">Добавить</button>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="/js/users.js"></script>
</body>
</html>